spring:
  devtools:
    restart:
      enabled: false

  application:
    name: schedule
  datasource:
    url: jdbc:mysql://localhost:3306/schedule?createDatabaseIfNotExist=true
    username: root
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update # create-drop, create, update, validate, none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
api:
  prefix: /api/v1

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha

logging:
  level:
    org:
        hibernate:
          SQL: DEBUG
          type:
              descriptor.sql.BasicBinder: TRACE
        springframework:
          orm:
            jpa: DEBUG
          transaction: DEBUG